
# MagicBlock Ephemeral Rollups
NEXT_PUBLIC_RUN_RECORD_PROGRAM_ID=9rGjguBZAnittA4Cbm7YNP5qomatY3c4MTV7LSqNomzS
MAGICBLOCK_ER_ENDPOINT=https://devnet-us.magicblock.app
SOLANA_AUTHORITY_SECRET_KEY=<base58-encoded-authority-private-key>
